<!DOCTYPE html>
<html>
<style>
li{
text-indent: -20px;
padding-left: 20px;}
</style>
<head>
</head>
<body>

<p>The "Exceedances" table shows measurements that exceeded the relevant water quality threshold.</p>

<h4>Downloads</h4>

<p>The Summary table can be copied or downloaded as a CSV or Excel file.</p>

</body>
</html>