<!DOCTYPE html>
<html>
<head>
</head>
<body>

<p>This table provides summary statistics for water quality measurements taken at streams in the National Parks of the National Capital Region Network. Statistical values are based on site visit averages and are grouped according to selected comparision. By using the "Compare by" control, you can determine what sort of comparison you wish to do, either grouping by year, month, or site.</p>
<p>Table outputs the following statistical values:
  <li><b>Minimum:</b> The lowest recorded value.</li>
  <li><b>Q1:</b> The first quartile, 25th percentile.</li>
  <li><b>Mean:</b> The average value. </li>
  <li><b>Median:</b> The central value when dataset is sorted.</li>
  <li><b>Q3:</b> The third quartile, 75th percentile.</li>
  <li><b>Maximum:</b> The highest value. </li>
  <li><b>Standard Deviation:</b> Measure of variability.</li>
  <li><b>Site Visits:</b> The number of site visits.</li>
  <li><b>Total Measurements:</b> The number of measurements. </li>

<h4>Downloads</h4>

<p>Table can be copied, printed, or downloaded as a CSV, Excel, or PDF.</p>


</body>
</html>