<!DOCTYPE html>
<html>
<style>
li{
text-indent: -20px;
padding-left: 20px;}
</style>
<head>
</head>
<body>

<p>The "Summary" table generates summary statistics for water quality measurements. The "Summary" table uses the mean of the site visit's measurements when more than one measurement was taken for a parameter on one site visit.</p>
<p>The "Compare by" control allows you to group measurements to compare among groups.</p>
<p>Contents of "Summary" table:
  <li><b>Minimum:</b> The lowest recorded value in the selected data.</li>
  <li><b>Q1:</b> 25th percentile; the value below which 25% of the data falls under.</li>
  <li><b>Mean:</b> The average of all the data values.</li>
  <li><b>Median:</b> 50th percentile; the central value in a dataset when sorted.</li>
  <li><b>Q3:</b> 75th percentile; the value below which 75% of the data falls under.</li>
  <li><b>Maximum:</b> The highest recorded value in the selected data. </li>
  <li><b>Standard Deviation:</b> Measure of the spread or variability of the data. A higher standard deviation indicates more variation from the mean, while a lower value suggests the data points are closer to the mean.</li>
  <li><b>Site Visits:</b> The total number of unique site visits.</li>
  <li><b>Total Measurements:</b> The total number of measurements for a given site. </li>
  <li><b>Missing Values:</b> The number of values not collected or reported. </li>

<h4>Downloads</h4>

<p>The Summary table can be copied or downloaded as a CSV or Excel file.</p>

</body>
</html>